<a href="https://colab.research.google.com/github/K-Domar/MyRepo/blob/main/Homework4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Mean atom radius $a = \sum_{i = 1}^n \ c_ir_i$ \\
Atomic size difference  $\delta = \sqrt{\sum_{i = 1}^n \ c_i(1 - \frac{r_i}{a})^2}$ \\
Average of the melting points of
constituent elements \\
Standard deviation of melting
temperature \\
Average mixing enthalpy \\
Standard deviation of mixing enthalpy \\
Ideal mixing entropy \\
Electronegativity \\
Standard deviation of electronegativity \\
Average VEC \\
Standard deviation of VEC \\
Mean bulk modulus \\
Standard deviation of bulk modulus \\

In [ ]:
HEA = pd.read_excel('https://raw.githubusercontent.com/K-Domar/MyRepo/main/dataset.xlsx')
print(HEA.columns)
HEA.head()

Index(['Alloy', 'No', 'Component', 'Fraction', 'a', 'delta', 'Tm', 'D_Tm',
       'Hmix', 'σHmix', 'Sid', 'Elec_nega', 'D_elec_nega', 'VEC', 'd_VEC',
       'BulkModulus', 'D_Bulk', 'Phase', 'Phase_inshort', 'AM？', 'IM?', 'SS?',
       'Phase_3', 'Ref', 'From', 'Size', 'Method'],
      dtype='object')

      Alloy  No Component Fraction         a  ...  Phase_3  Ref  From  Size  Method
0     AlB12   2      Al B     1 12  0.867077  ...      2.0  NaN  三元相图   NaN     NaN
1      B4Co   2     B Co       4 1  0.906200  ...      2.0  NaN  三元相图   NaN     NaN
2      AlB2   2      Al B      1 2  1.024000  ...      2.0  NaN  三元相图   NaN     NaN
3  B6Co2Nb2   3   B Co Nb    6 2 2  1.028000  ...      2.0  NaN  三元相图   NaN     NaN
4      HfB2   2      Hf B      1 2  1.072667  ...      2.0  NaN  三元相图   NaN     NaN

[5 rows x 27 columns]

In [ ]:
hea = HEA.drop(columns=['Phase_3', 'Ref', 'From', 'Size', 'Method'])
hea.head()

      Alloy  No Component Fraction         a  ...  Phase  Phase_inshort  AM？  IM?  SS?
0     AlB12   2      Al B     1 12  0.867077  ...     IM             IM    0    1    0
1      B4Co   2     B Co       4 1  0.906200  ...     IM             IM    0    1    0
2      AlB2   2      Al B      1 2  1.024000  ...     IM             IM    0    1    0
3  B6Co2Nb2   3   B Co Nb    6 2 2  1.028000  ...     IM             IM    0    1    0
4      HfB2   2      Hf B      1 2  1.072667  ...     IM             IM    0    1    0

[5 rows x 22 columns]