<a href="https://colab.research.google.com/github/K-Domar/MyRepo/blob/main/Homework4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
hea = pd.read_excel('https://raw.githubusercontent.com/K-Domar/MyRepo/main/dataset.xlsx')
hea.head()

      Alloy  No Component Fraction         a  ...  Phase_3  Ref  From  Size  Method
0     AlB12   2      Al B     1 12  0.867077  ...      2.0  NaN  三元相图   NaN     NaN
1      B4Co   2     B Co       4 1  0.906200  ...      2.0  NaN  三元相图   NaN     NaN
2      AlB2   2      Al B      1 2  1.024000  ...      2.0  NaN  三元相图   NaN     NaN
3  B6Co2Nb2   3   B Co Nb    6 2 2  1.028000  ...      2.0  NaN  三元相图   NaN     NaN
4      HfB2   2      Hf B      1 2  1.072667  ...      2.0  NaN  三元相图   NaN     NaN

[5 rows x 27 columns]